/* font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Rubik', sans-serif; */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 22px;
    color: #8476AA;
    background-color: #3B1D60;
}

.container {
    width: 1100px;
    margin: 0 auto;
    margin-top: 40px;
}

.container-small {
    width: 1000px;
    margin: 0 auto;
}

/* header */
.header {
    display: flex;
    align-items: center;
    color: white;
}


.logo {
    flex: 0 1 60px;
    cursor: pointer;
}

.logo:hover {
    opacity: 0.9;

}


.navs {
    display: flex;
    justify-self: start;
    margin-right: auto;
}

.navs div {
    padding: 11.5px 10px;
    cursor: pointer;
}

.navs div:hover {
    background-color: #634A83;
}


.buttons {
    display: flex;
    justify-self: end;
}

.header__sign-in:hover {
    background-color: #f2994a;
    color: black;
}

.header__sign-up {
    margin-left: 20px;
}

.header__sign-up:hover {
    background-color: inherit;
}

.btn {
    padding: 10px 20px;
    border: 1px solid #f2994a;
    border-color: #F2994A;
    color: white;
    cursor: pointer;
}


.btn-transparent {
    background-color: inherit;
}

.btn-orange {
    background-color: #f2994a;
}

/* intro */

.intro {
    flex-shrink: 0;
}

.intro__header {
    font-size: 44px;
    line-height: 50px;
    font-weight: bold;
    color: #99EFD0;
}

.intro__text {
    display: inline-block;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 35px;
}

.intro__buttons {
    margin-bottom: 40px;
}

.intro__learn-more:hover {
    background-color: inherit;
}

.intro__demo {
    padding-left: 46.5px;
    padding-right: 46.5px;
    margin-left: 20px;
}

.intro__demo:hover {
    background-color: #F2994A;
    color: black;
}

.preview {
    display: flex;
}

.preview__video {
    cursor: pointer;
}

.preview__video:hover {
    opacity: 0.8;
}

.preview__text {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 20px;
}

.preview_header {
    font-size: 16px;
}

.preview__watch {
    font-size: 14px;
    color: #6D6D78;
    cursor: pointer;
}

.intro__wrapper {
    width: 1100px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    overflow: visible;
}

.intro__img {
    position: relative;
    background: url("../img/run-man.svg") no-repeat;
    width: 50%;
    margin-left: 40px;
}

/* partners */

.partners {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.partners img {
    margin-right: 30px;
    cursor: pointer;
    padding: 10px 15px; 
}

.partners img:last-child {
    margin-right: 0;
}

.partners img:hover {
    opacity: 0.7;
    background-color: #634A83;
}

/* your choise */

.choise__header {
    text-align: center;
    color: #99EFD0;
    font-size: 42px;
    line-height: 50px;
}

.choise__annotation {
    text-align: center;
    
}

.choise__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.choise__list li {
    flex: 0 0 33.33%;
    position: relative;
}

.choise__list li:nth-child(1):before {
    content: "";
    position: absolute;
    top: 15px;
    left: -35px;
    background: url("../img/Stockholm-icons-Design-Flip-horizontal.svg");
    width: 24px;
    height: 24px;
}

.choise__list li:nth-child(2):before {
    content: "";
    position: absolute;
    top: 15px;
    left: -35px;
    background: url("../img/Stockholm-icons-Devices-Airpods.svg");
    width: 24px;
    height: 24px;
}


.choise__list li:nth-child(3):before {
    content: "";
    position: absolute;
    top: 15px;
    left: -35px;
    background: url("../img/Stockholm-icons-Devices-LTE1.svg");
    width: 24px;
    height: 24px;
}

.choise__list li:nth-child(4):before {
    content: "";
    position: absolute;
    top: 15px;
    left: -35px;
    background: url("../img/Stockholm-icons-General-Thunder-move.svg");
    width: 24px;
    height: 24px;
}


.choise__list li:nth-child(5):before {
    content: "";
    position: absolute;
    top: 15px;
    left: -35px;
    background: url("../img/Stockholm-icons-General-Attachment1.svg");
    width: 24px;
    height: 24px;
}


.choise__list li:nth-child(6):before {
    content: "";
    position: absolute;
    top: 15px;
    left: -35px;
    background: url("../img/Stockholm-icons-Home-Bulb1.svg");
    width: 24px;
    height: 24px;
}



.choise__list li h3 {
    color: #99EFD0;
    font-size: 18px;
    line-height: 22px;
}